html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 70px;
}
body{
  font-size: 18px;
  line-height: 24px;
  font-family: 'Comic Neue', cursive;
}